.food-menu {
    margin: 0 auto;
}

.order-form {
    background-image: url('https://scontent.fhan14-1.fna.fbcdn.net/v/t1.15752-9/165053940_197149755181859_8166334174403855475_n.jpg?_nc_cat=101&ccb=1-5&_nc_sid=ae9488&_nc_ohc=6Zgi7UrNXjYAX_GZLbC&_nc_ht=scontent.fhan14-1.fna&oh=3f6d0ac86f5f6abf46184407cac43c07&oe=616B5FAD');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.search-section {
    background-image: url('https://scontent.fhan14-1.fna.fbcdn.net/v/t1.15752-9/165053940_197149755181859_8166334174403855475_n.jpg?_nc_cat=101&ccb=1-5&_nc_sid=ae9488&_nc_ohc=6Zgi7UrNXjYAX_GZLbC&_nc_ht=scontent.fhan14-1.fna&oh=3f6d0ac86f5f6abf46184407cac43c07&oe=616B5FAD');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}